
<head>  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
          <script src="//code.jquery.com/jquery-3.3.1.js"></script>
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>

<h1> this is search </h1>
{% block content %}
  <form action="/weather/search/" method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
    {% endblock %}

            <script>
          //   jQuery(document).ready(function($jquery) {
          //       $jquery('#postsTable').dataTable({
          //           "iDisplayLength": 5,
          //           "ajax": {
          //               "processing": true,
          //               "url": "{% url 'weather:search' %}",
          //               "dataSrc": ""
          //           },
 
            //         "columns": [
            //                 { "data": "pk" },
            //                 { "data": "fields.date", type:'date-dd-mm-yyyy' },
            //                 { "data": "fields.apparent_temp" },
            //                 { "data": "fields.air_temp" }
            //             ]
            //     });
            // });
         </script>

<h1> Datatable </h1>
    <a href="#" data-source="popularity" class="copyToClipboard" style="float: right;">Copy to Clipboard</a>
  <table id="thing">
      <thead>
          <th>date</th><th>apparent temp</th>
      </thead>
      
  {% for user in filter.qs %}
      <tr><td>{{ user.date }} </td><td>{{ user.apparent_temp }}</td></tr>
  {% endfor %}
      </table>
    
    <body>
        <div class="container">
            <table id="postsTable" class="table">
                 <thead>
                     <tr>
                         <th>Id</th>
                         <th>Date</th>
                         <th>ApparentTemp</th>
                         <th>Air Temp</th>
                     </tr>
                 </thead>

                 <tbody><tr></tbody>
            </table>
        </div>
    </body>
    
    <script>
        $('.copyToClipboard').click(function(e) {
	
    e.preventDefault();		
    copyToClipboard($(this).data('source'));
});
  
function copyToClipboard(tableId){ 
    var textRange = document.body.createTextRange(); 
    textRange.moveToElementText(document.getElementById('#thing')); 
    textRange.execCommand("Copy");
    </script>
}