
<head>  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
          <script src="//code.jquery.com/jquery-3.3.1.js"></script>
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>

<h1> this is search </h1>
{% block content %}
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>

  <table id="example" class="table table-striped table-bordered" data-server-side="true" data-ajax="/weather/?format=datatables">
     <tr> <thead><th>Date</th><th>Air temp</th><th>Apparent Temp</th></thead></tr>
  <tbody>{% for user in filter.qs %}
      
      <tr><td>{{ user.date }}</td><td>{{ user.air_temp }}</td><td>{{ user.apparent_temp }}</td></tr>
          
  {% endfor %}
      </tbody>
  </table>
{% endblock %}
</body>

      

<script>
$(document).ready(function() {
    $('#example').DataTable( {
        order: [[ 2, 'desc' ], [ 0, 'asc' ]]
    } );
} );
</script>